<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment editor</title>
</head>
<body>
    <h1>Edit your comment</h1>
    <form action="/comments/<%= comment.id%>?_method=PATCH" method="POST"><!-- Uso de npm method-override para poder usar patch en sitios como forms -->
        <label for="comment">Edit comment</label>
        <textarea id="comment" name="comment"><%= comment.comment %> </textarea>
        <button>Send</button>
        <br>
        <a href="/comments">Back</a>
    </form>
</body>
</html>