<%- include("partials/head.ejs") %>

<body>

    <%- include("partials/navbar.ejs") %>
    
    <h1>The subreddit <%= subreddit %> does not exist!</h1>

    <%- include("partials/footer.ejs") %>

</body>
</html>