<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
</head>
<body>
    <h1>Edit a product</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST"><!--usamos method-override aqui para PUT-->
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="Product Name" value="<%=product.name%>">
        <br>
        <br>
        <label for="price">Price</label>
        <input type="number" name="price" id="price" placeholder="999€" value="<%=product.price%>">
        <br>
        <br>
        <label for="category">Choose category</label>
        <select name="category" id="category">
            <option value="fruit">Fruit</option>
            <option value="vegetable">Vegetable</option>
        </select>
        <br>
        <br>
        <button type="submit">Save</button>
        <button type="reset">Reset</button>
    </form>
    <br>
    <a href="/products">Back to products</a>
</body>
</html>